* {
    outline: none !important;
}

button {
	-webkit-transition: background-color 0.2s linear;
	border-radius:4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	background-color: #E4F2FF;*/
	background-image: url("//ajax.googleapis.com/ajax/libs/dojo/1.9.0/dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid #769DC0;
	padding: 2px 8px 4px;
	font-size:1em;
}

button:hover {
	background-color: #AFD9FF;
	color: #000000;
}

.dijitButton {
	background-color: #a2cb79;	
}

#users_underlayxxx {
    background-color: #a2cb79;
}
#plans_underlayxxx {
    background-color: #a2cb79;
}
#feed_underlayxxx {
    background-color:black;
}

.break
{
float:none;
clear:both;
}