<div class="filter-header"><span>Map Filter</span></div>

<div class="filter-tree">
<ul>
			<li>Generating Capacity
				<ul>
				<li id="filter-capacity-0">Unknown</li>
				<li id="filter-capacity-1">Less than 1 MW</li>
				<li id="filter-capacity-2">1-10 MW</li>
				<li id="filter-capacity-3">10-50 MW</li>
				<li id="filter-capacity-4">50-100 MW</li>
				<li id="filter-capacity-5">100-200 MW</li>
				<li id="filter-capacity-6">Greater than 200 MW</li>
				</ul>
			</li>
			<li>Number of Turbines
				<ul>
				<li id="filter-units-0">Unknown</li>
				<li id="filter-units-1">One</li>
				<li id="filter-units-2">2-5</li>
				<li id="filter-units-3">6-10</li>
				<li id="filter-units-4">11-20</li>
				<li id="filter-units-5">21-50</li>
				<li id="filter-units-6">51-100</li>
				<li id="filter-units-7">Greater than 100</li>
				</ul>
			</li>
			<li>Status
				<ul>
				<li id="filter-status-0">Unknown</li>
				<li id="filter-status-1">In Service</li>
				<li id="filter-status-2">Proposed</li>
				<li id="filter-status-3">Under Construction</li>
				</ul>
			</li>
</ul>
</div>

<div class="filter-contents">
<div class="filter-text">
<form id="filter-form">
<p>Name<br/>
<input type="text" name="filtername" class="filter-input"/>
</p>
<p>Owner<br/>
<input type="text" name="filterowner" class="filter-input"/>
</p>
<p>Developer<br/>
<input type="text" name="filterdeveloper" class="filter-input"/>
</p>
<p>Energy Purchaser<br/>
<input type="text" name="filterpurchaser" class="filter-input"/>
</p>
<p>Manufacturer<br/>
<input type="text" name="filtermanufacturer" class="filter-input"/>
</p>
</form>
</div>

</div>
