<p>This demo shows the meridians of the sun and moon on a map of the world, in addition to the day/night boundary and phase of the moon.</p>
<p>Choose a date and time in the text boxes above the map, or animate the map using the play (<span class="ui-icon ui-icon-play CRControlIcon" title="play"></span>) button. Use the rewind (<span class="ui-icon ui-icon-seek-first CRControlIcon" title="rewind"></span>) button to return to the current date and time.</p>
<p>Use the settings dialog to do the following:</p>
<ul>
<li>Choose whether the map or the solar meridian is stationary during animations</li>
<li>Choose whether or not to display the day/night boundary</li>
<li>Choose one or more locations (cities or towns) to appear on the map</li>
</ul>
