<p>This demo shows the appearance of the sky at a particular time for a viewer at a user-selected location on earth. The black background denotes areas of the sky that are visible to the viewer, and a lighter background denotes areas that are below the viewer's horizon.</p>
<p>The demo defaults to the current date and time. Select a different date and time in the text boxes, or animate the display using the play (<span class="ui-icon ui-icon-play CRControlIcon" title="play"></span>) button. Use the rewind (<span class="ui-icon ui-icon-seek-first CRControlIcon" title="rewind"></span>) button to return to the current date/time and the reset (<span class="ui-icon ui-icon-refresh CRControlIcon" title="reset"></span>) button to return to the default orientation.</p>
<p>Click and drag your mouse to change the orientation of the viewer, and zoom in or out with the zoom control. Click on the location area next to the time text box to set your location. Search for a star or constellation, or point to RA, DEC coordinates using the search dialog</p>
<p>Use the settings dialog to adjust the display:</p>
<ul>
<li>Show Horizon: Show/hide the viewer's horizon</li>
<li>Show RA and Declination: Show/hide right ascension and declination lines</li>
<li>Show Ecliptic: Show/hide the ecliptic, the apparent path of the sun in the sky</li>
<li>Show Altitude and Azimuth: Show/hide altitude and azimuth lines</li>
<li>Show Constellation when clicked: When checked, clicking on the sky will display the constellation at that part of the sky</li>
<li>Show Star Names: Show/hide the names of bright stars</li>
<li>Show Satellite Names: Show/hide the names of planets and the sun</li>
</ul>
