{% extends "base.html" %}

{% block headscript %}
<script src="{{docroot}}/scripts/Matrix.js"></script>
<script src="{{docroot}}/scripts/CanvasHelper.js"></script>

<script>

$(function () { 
	$("#tabs").tabs();
});


$(window).load(function () {

	var cube = [];
	cube[0] = {x:-1, y:1, z:-1, w:1};
	cube[1] = {x:-1, y:-1, z:-1, w:1};
	cube[2] = {x:1, y:-1, z:-1, w:1};
	cube[3] = {x:1, y:1, z:-1, w:1};
	cube[4] = {x:-1, y:1, z:1, w:1};
	cube[5] = {x:-1, y:-1, z:1, w:1};
	cube[6] = {x:1, y:-1, z:1, w:1};
	cube[7] = {x:1, y:1, z:1, w:1};
	
	var lines = [ [0,1], [0,3], [0,4], [1,5], [1,2], [2,3], [2,6], [3,7], [4,5], [4,7], [5,6], [6,7] ]
	
	var c=document.getElementById("canvas-projection");
	var ctx=c.getContext("2d");
	ctx.strokeStyle = "black";
	
	var I = new Matrix4(true);
	var matrix = I.translate(1,2,0).rotate(0,45).rotate(2,30).rotate(1,20).projection(60,1,2,100);
	//var matrix = I.rotate(2,45).projection(45,1,2,100);
	console.log(matrix);
	
	var coords_to_display = function(coords)
	{
		var ret = {};
				
		ret.x = c.width/2 + 200 * coords.x/coords.z;
		ret.y = c.height/2 - 200 * coords.y/coords.z;
		
		return ret;
	}
	
	var renderCube = function()
	{
		var projected = [];
		for (var i=0;i<cube.length;i++)
		{
			projected[i] = matrix.vecMult(cube[i]);
			console.log(projected[i]);
		}
		
		ctx.beginPath();
		for (var i=0; i<lines.length; i++)
		{
			var pt0 = projected[lines[i][0]];
			var pt1 = projected[lines[i][1]];
			var plot = coords_to_display(pt0);
			ctx.moveTo(plot.x, plot.y);
			plot = coords_to_display(pt1);
			ctx.lineTo(plot.x, plot.y);
		}
		ctx.stroke();
	}

	renderCube();

	$( "#slider-zoom" ).slider({
      orientation: "vertical",
      min: 0,
      max: 100,
      value: 0,
      slide: function( event, ui ) {
      }
    });    
});

</script>
{% endblock %}

{% block body %}


<div id="tabs">
  <ul>
    <li><a href="#tabs-projection">Projection</a></li>
  </ul>

  <div id="tabs-projection">
  	<div style="height:500px;">
  		<div class="CRFloatLeft">
	  		<canvas id="canvas-projection" width="900" height="478"></canvas>
	  	</div>
	  	<div class="CRFloatLeft">
		  	<div id="slider-zoom" style="height:478px;margin-left:20px;"></div>
			</div>
  	</div>
  </div>
</div>

{% endblock %}