{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block headscript %}
{% endblock %}

{% block admin_nav %}
{% endblock %}

{% block body %}
<h3>A partial listing of recent projects:</h3>
<ul class="projects">
<li><a href="{{docroot}}/projects/completevisa">Complete Visa (web application)</a></li>
<li><a href="{{docroot}}/projects/focalevent">focal_EVENT (web application)</a></li>
<li><a href="{{docroot}}/projects/geopatterns">GeoPatterns (desktop application)</a></li>
<li><a href="{{docroot}}/projects/irpsim">IRPSim (desktop application)</a></li>
<li><a href="{{docroot}}/projects/nanotechnology">The Nanotech Company (website)</a></li>
<li><a href="{{docroot}}/projects/netshare">NetShare (desktop application)</a></li>
<li><a href="{{docroot}}/projects/whaletrail">The Whale Trail (mobile app)</a></li>
<li><a href="{{docroot}}/projects/windmaster">WindMASTER (multi-platform application)</a></li>
</ul>
{% endblock %}

{% block bodyscript %}
{% endblock %}